{% extends "base.html" %}

{% load static %}
{% block content %}

    <form method="post">{% csrf_token %}
        <select class="form-select" aria-label="Default select example">
          <option selected>Выберите заявку</option>
            {% for reciev in recieve_data %}
          <option value={{reciev.id}}> Владелец: {{reciev.pet_owner.first_name}}, питомец: {{reciev.pet_name}}, Время приема: {{reciev.time_to_come}}</option>
            {% endfor %}
        </select>

        {{form.as_p}}
        <button type="submit" class="btn btn-success">Записаться</button>
    </form>

{% endblock %}

